.options {
    text-align: center;
    margin-top: 4em;
    li {
        margin-left: -1.8em;
        display: inline-block;
        border: 3px solid #c8c6bd;
        width: 310px;
        height: 200px;
        margin-bottom: 2em;
        @media(min-width: 350px) {
            margin-left: 0;
        }
        @media(min-width: 768px) {
            margin-right: 1em;
            margin-bottom: 4em;
            .description-text-mobile {
                display: none;
            }
        }
        @media(min-width: 1000px) {
            width: 350px;
        }
    }
     :first-child,
     :nth-child(2) {
        @media(min-width: 768px) {
            .first-icon, .second-icon {
                margin-top: 3em;
            }
            .description {
                margin-top: 1.7em;
            }
        }
    }
     :last-child {
        @media(min-width: 768px) {
            .description {
                margin: -1em 0 1em 0;
            }
        }
    }
    .first-icon,
    .second-icon,
    .third-icon {
        width: 60px;
        height: 60px;
        margin: 0.5em calc(50% - 25px);
    }
    .first-icon {
        background-image: url('../photos/ul-one-photo.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .second-icon {
        background-image: url('../photos/ul-two-photo.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .third-icon {
        background-image: url('../photos/ul-three-photo.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 75px;
        margin: 0.5em calc(50% - 35px);
        @media(min-width: 768px) {
            position: relative;
            top: -2.8em;
            margin: 0.5em calc(50% - 40px);
        }
    }
    .description {
        color: #bfbfb2;
        font-weight: bold;
        font-size: 20px;
    }
}

.section-two-main-header {
    font-size: 34px;
    color: #1f1f1f;
    line-height: 1.1;
    text-align: center;
    font-weight: bold;
    @media(min-width: 768px) {
        margin-top: 1em;
    }
}

.section-two-second-header {
    margin-top: 0;
    font-size: 34px;
    color: rgb(191, 191, 178);
    line-height: 1.1;
    text-align: center;
    font-weight: bold;
    @media(min-width: 768px) {
        margin-bottom: 1em;
    }
}

.section-two-text {
    font-size: 16px;
    color: black;
    line-height: 1.4;
    text-align: center;
    @media(min-width: 768px) {
        margin: 0 13em;
        font-size: 15px;
    }
}
